.wrapper {
  padding: 0rem;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 2px 2px 4px 4px rgba(65, 90, 119, 0.5) !important;
}

.header {
  color: #25384d;
  font-weight: 600;
  padding: 0.4rem;
  margin-top: 0.5rem;
  align-self: center;
}
