.wrapper {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 1rem;
}

input[type="radio"] {
  accent-color: #003554;
}

.wrapper span:first-child {
  font-weight: 700;
  color: black;
}
.tiers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #1b4965;
  padding: 0rem 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    margin: 0.5rem 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper span:first-child {
    font-size: 0.9rem;
    align-self: center;
  }
  .tiers {
    font-size: 0.9rem;
    width: 13rem;
  }
}
