select {
  background: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 1rem;
}

.month_select {
  height: 2rem;
  border-radius: 5px;
  width: 6.25rem;
  font-weight: 500;
  padding-left: 0.25rem;
  border: 1px solid #1b4965;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    margin: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    margin: 0.5rem 0.25rem;
  }
}
