.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.userInput {
  width: 5rem;
  border-radius: 5px;
  height: 2rem;
  padding-left: 0.25rem;
  border: 1px solid #1b4965;
}

input[type="text"]:focus {
  outline: 2px solid #1b4965;
}
