.wrapper {
  width: 40%;
  margin: 1rem auto;
  margin-top: 5rem;
  padding: 0.25rem 1rem;
  color: #18222d;
  border: 1px solid #415a77;
  box-shadow: 3px 3px 2px #97a8bb;
}

.savings {
  background-color: rgba(65, 90, 119, 0.9);
  border-radius: 3px;
  color: white;
  padding: 0.135rem;
  margin: 0.135rem;
}

.bestPlan {
  background-color: rgba(65, 90, 119, 0.9);
  border-radius: 3px;
  color: white;
  padding: 0.135rem;
  margin: 0.155rem;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 30rem;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 23rem;
  }
}
