.wrapper {
  margin: 0.25rem auto;
  padding: 0.25rem 1rem;
  color: #18222d;
}

.savings {
  background-color: #415a77;
  color: white;
  padding: 0.135rem;
}

.bestPlan {
  background-color: #415a77;
  color: white;
  padding: 0.135rem;
}
