.wrapper {
  width: 36rem !important;
  margin: 1rem 1.5rem;
  /* box-shadow: 2px 2px 4px 4px rgba(65, 90, 119, 0.5) !important; */
  overflow: hidden !important;
}

.wrapper td {
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: Courier !important;
  height: 1rem !important;
}

.wrapper td:last-child {
  width: 0.5rem !important;
  font-weight: 600;
}
.wrapper p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  /* .wrapper {
    font-size: 12px !important;
    width: 23rem !important;
    height: 30rem !important;
    margin: 1.5rem;
    padding-top: 1rem !important;
  } */
}
