.tier_wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #415a77;
  margin: 1rem;
  padding: 1rem;
  width: 18rem;
  height: 28rem;
  border-radius: 5px;
  border: 1px solid #415a77;
  color: #ffffff;
}
h2 {
  text-transform: uppercase;
}
.btn {
  justify-content: flex-end;
  display: flex;
}
