.header {
  padding-bottom: 1rem;
  margin: 0rem auto;
}
.title {
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: center;
}
.period_labels {
  display: flex;
  align-items: center;
}

.slider {
  color: #003554 !important;
  width: 20rem !important;
}

@media only screen and (max-width: 768px) {
  .period_labels p {
    font-size: 0.9rem;
  }
  .slider {
    width: 19rem !important;
  }
  .slider span:nth-child(3) {
    height: 14px;
    width: 14px;
  }
  .slider span:nth-child(4) {
    height: 14px;
    width: 14px;
  }
  .slider span {
    height: 2px;
  }
  .title {
    font-size: 0.9rem;
  }
}
