.time_wrapper {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #415a77;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  width: 18rem;
  height: 28rem;
  border-radius: 5px;
  border: 1px solid #415a77;
}
h2 {
  text-transform: uppercase;
}

.btn {
  justify-content: flex-end;
  display: flex;
}
.userInput {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  width: 3rem;
}

.label {
  margin-right: 1.25rem;
}
