.header {
  /* padding-right: 1rem; */
  padding-bottom: 1rem;
  margin: 0rem auto;
}
.ittle {
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  margin-top: 1rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.period_labels {
  display: flex;
  align-items: center;
}

.slider {
  color: #003554 !important;
  width: 20rem !important;
}
