.app {
  background-color: #fff;
}

.userInput {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40rem;
  border: 1px solid rgb(27, 73, 101);
  background-color: rgba(210, 209, 209, 0.3);
  margin: 1rem auto;
}

.summary_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .userInput {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
  }
  .summary_wrapper {
    flex-wrap: wrap;
    margin: 0.5rem;
  }
  .wrapper {
    width: 80%;
  }
}
