.app {
  text-align: center;
  background-color: #ffffff;
  font-size: 16px;
}

.input_wrapper {
  margin: 2rem auto;
  width: 45%;
}

.userInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem 0rem;
}

.timeofusePercWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pricingWrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
