.app {
  text-align: center;
  background-color: #ffffff;
}

.pricingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
