.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.zipCode_select {
  height: 2rem;
  border-radius: 5px;
  width: 6.25rem;
  font-weight: 500;
  padding-left: 0.25rem;
  border: 1px solid #1b4965;
}
